<div class="form-group">
  <%= label_tag "Add collaborators" %>

  <%= text_field_tag 'collaborator_username',
                nil,
                class: 'form-control',
                placeholder: "Add a wiki collaborator by username" %>
</div>