<div>
<% unless @wiki.collaborators.empty?  %>
  <ul class="list-group">
    <% @wiki.collaborators.each do |collaborator| %>
    <li class="list-group-item"><%= collaborator.email %> <%= link_to "Remove Collaborator", delete_wiki_collaborator_path(@wiki, id: collaborator.id), method: :put, class: "btn btn-danger" %></li>
    <%  end %>
  <% end %>
</div>

<!--# only applied this to the edit view.-->