.nav-collapse ul {
  margin: 0px;
  padding: 25px;
  width: 100%;
  display: inline-block;
  list-style: none;
  overflow: hidden;
  background-color: #058ED9;
  font-size: 18px;
}

.nav-collapse li {
  display: inline-block;
  white-space: nowrap;
}

.nav-collapse li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    position: relative;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.js .nav-collapse.closed {
    max-height: none;
}

// .nav-toggle {
//   -webkit-tap-highlight-color: rgba(0,0,0,0);
//   -webkit-touch-callout: none;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   -o-user-select: none;
//   user-select: none;
// }

button {
  color: white;
  padding: 1em;
  border: 0;
  cursor: pointer;
  background: #058ED9;
  width: 100%;
  font-weight: bold;
  font-size: 1.5em;
}

button.active {
  background: #A39A92;
}

.logo {
    font-family: 'Fredoka One', cursive;
    float: left;
}





@media (min-width:640px){

    button {
        display: none;
    }
    
    .float { float: right;}    
    
}

@media (max-width:640px){
    
 
    
    .nav-toggle{
         background-color: white;
    }
    
    .nav-collapse ul {
        text-decoration: none;
        width: 100%;
        background: #058ED9;
        padding: 0;
        
    }
    
    .nav-collapse li {
         width: 100%;
         border-bottom: 1px solid white;
    }    
}











