.show {
    font-family: 'Lora', serif;  
    font-weight: bold;
    font-size: 1.875em;
    padding: 25px;
    position: relative;
    background-color: #058ED9;
    color: white;
    white-space: nowrap;
    text-transform: capitalize;
    text-decoration: underline;
}



