 <%= form_tag charges_path do %>
   <h4>Click the button!</h4>
     <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_LMc2hhelxk5eAJcigjuc1EbD"
    data-amount="1500"
    data-name="Account upgrade"
    data-description="This will allow you to create private wikis"
    data-locale="auto">
  </script>
 <% end %>